---
layout: base
---

{% include header.html type="page" %}


<main
  class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}"
>
  <div class="row">
    <div
      class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}"
    >
      {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %}

      <div>
        If you have any questions, send a message using the form below.
        <br /><br />

        <form
          id="my-form"
          action="https://formspree.io/f/xqkrezag"
          method="POST"
        >
          <div class="row">
            <div class="col-6">
              <input
                type="email"
                name="email"
                required="required"
                class="form-control input-lg"
                placeholder="Email"
                title="Email"
                style="margin-bottom: 15px"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <textarea
                type="text"
                name="content"
                class="form-control input-lg"
                placeholder="Message"
                title="Message"
                required="required"
                rows="3"
              ></textarea>
            </div>
          </div>

          <br />

          <button type="submit" class="btn btn-lg btn-primary">Send</button>
          <p id="my-form-status"></p>
        </form>
        <br /><br />
        Contacting me online is the best way to get in touch, but you can also
        reach me by phone at
        <a href="tel:6786291802" title="Phone">(678) 629-1802</a>.
      </div>

      {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %}
    </div>
  </div>
</main>
