---
layout: base
---

{% include header.html type="page" %}

<main
  class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}"
>
  <div class="row">
    <div
      class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}"
    >
      {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %}

      <div>
        <br /><br />
        <ul>
          <li>
            Private Tutoring for various classes
            <ul>
              <li>
                AP Chemistry, Honors Chemistry, ASP, On-level Chemistry, Algebra
                1, Algebra 2, and Pre-calculus
              </li>
              <li>
                In-person
                <ul>
                  <li>
                    Location
                    <ul>
                      <li>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.1906298201006!2d-84.2121817228293!3d34.06462721707402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f59ee10126c50b%3A0xa6b32c73ea236301!2sOcee%20Library%20%2F%20Dr.%20Robert%20E.%20Fulton!5e0!3m2!1sen!2sus!4v1705770985385!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                      </li>
                      <li>
                        Starbucks, 11720 Medlock Bridge Rd, Johns Creek, GA
                        30097
                      </li>
                      <li>
                        Starbucks 4180-4190 Old Milton Pkwy, Alpharetta, GA
                        30005
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                Virtual
                <ul>
                  <li>I will send the client a link via GoogleMeet</li>
                </ul>
              </li>
              <li>
                Pricing: Both Virtual and In-Person tutoring are 35$/hour.
                Payments can be made via check, cash, or Venmo
              </li>
            </ul>
          </li>
        </ul>
        <br /><br />
        <ul>
          <li>
            AP Notes/Resources
            <ul>
              <li>AP World History</li>
              <li>AP US History</li>
              <li>AP Biology</li>
              <li>
                Pricing for Notes
                <ul>
                  <li>1 Unit: $15</li>
                  <li>1 Course (all units): $90</li>
                  <li>AP Biology</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %}
    </div>
  </div>
</main>
