---
layout: base
---

{% include header.html type="page" %}

<main
  class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}"
>
  <div class="row">
    <div
      class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}"
    >
      {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %}

      <div>
        Private and Group Tutoring for various classes
        <ul>
          <li>AP Chemistry, Honors Chemistry, ASP, On-level Chemistry</li>
          <li>Algebra 1, Algebra 2, Pre-calculus, and Calculus</li>
          <li>
            In-person tutoring
            <ul>
              <li>
                <a
                  href="https://www.google.com/maps/place/Ocee+Library+%2F+Dr.+Robert+E.+Fulton/@34.0646272,-84.2121817,17z/data=!3m1!4b1!4m6!3m5!1s0x88f59ee10126c50b:0xa6b32c73ea236301!8m2!3d34.0646228!4d-84.2096068!16s%2Fg%2F1tm8lfgz?entry=ttu"
                  target="_blank"
                  >OCEE library, 5090 Abbotts Bridge Rd, Johns Creek, GA
                  30005</a
                >
              </li>
              <li>
                <a
                  href="https://www.google.com/maps/place/Starbucks/@34.0667164,-84.1721819,17z/data=!3m1!4b1!4m6!3m5!1s0x88f599241374b1bb:0xecf98b3651592429!8m2!3d34.066712!4d-84.169607!16s%2Fg%2F1tklrd9q?entry=ttu"
                  target="_blank"
                >
                  Starbucks, 11720 Medlock Bridge Rd, Johns Creek, GA 30097</a
                >
              </li>
              <li>
                <a
                  href="https://www.google.com/maps/place/Starbucks/@34.0593856,-84.2367524,17z/data=!3m1!4b1!4m6!3m5!1s0x88f59fac514ebc5f:0x3e021dfe9e8ef8aa!8m2!3d34.0593812!4d-84.2341775!16s%2Fg%2F1tfn3l84?entry=ttu"
                  target="_blank"
                >
                  Starbucks 4180-4190 Old Milton Pkwy, Alpharetta, GA 30005</a
                >
              </li>
            </ul>
          </li>
          <li>
            Virtual tutoring
            <ul>
              <li>
                I will send you a link via
                <a href="https://meet.google.com/?pli=1" target="_blank"
                  >GoogleMeet</a
                >
              </li>
            </ul>
          </li>
          <li>
            Pricing
            <ul>
              <li>Both virtual and in-person private tutoring sessions are $50/hour and group sessions are 35$/hour</li>
              <li>Payments can be made via check, cash, or Venmo</li>
            </ul>
          </li>
        </ul>
        <br />
        AP Notes/Resources
        <ul>
          <li>AP World History</li>
          <li>AP US History</li>
          <li>AP Biology</li>
          <li>AP Microeconomics and Macroeconomics</li>
            Pricing for notes
            <ul>
              <li>1 Unit: $15</li>
              <li>1 Course (all units): $90</li>
            </ul>
          </li>
        </ul>
      </div>

      {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %} {% include {{ file }} %} {% endfor
        %}
      </div>
      {% endif %}
    </div>
  </div>
</main>
